$prim: #2E3444;
$sec: rgba(46, 52, 68, 0.7);
$accent: hsl(219, 100%, 50%);
$accent-light: hsla(218, 74%, 46% / 0.9);
$alert: hsl(342, 95%, 52%);
$white: #fff;
$light: hsl(215, 31%, 85%);
$shadow: #B8C4E4;